/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype"); }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  padding: 0; }

html {
  height: 100%; }

body {
  background: #eeeeee;
  height: 100%;
  width: 100%;
  font-size: 12px;
  color: #4A4A4A;
  overflow-x: hidden;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: none; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=4.6.3");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../font/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../font/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../font/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../font/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.content {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 30px 0.9375em;
  background: white;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .content .content-title {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #7d7672;
    margin-top: 50px; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.page-title, .sponsor-title {
  border-top: 1px solid #d0ccc9;
  border-bottom: 1px solid #d0ccc9;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .page-title p, .page-title a, .sponsor-title p, .sponsor-title a {
    display: block;
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 5px 0;
    color: #7d7672;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .page-title a:hover, .sponsor-title a:hover {
    color: #050505; }

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  z-index: 30;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 3.4em;
  color: #4A4A4A;
  display: none; }
  .back-to-top:hover {
    bottom: 31px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #4A4A4A; }
  .back-to-top:focus {
    color: #4A4A4A; }

.back-top-show {
  display: block;
  -webkit-animation: display-none-transition .3s;
  animation: display-none-transition .3s; }

@-webkit-keyframes display-none-transition {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block; }
  100% {
    opacity: 1; } }

_::-webkit-:not(:root:root), .safari_only {
  opacity: 1 !important;
  transform: scale(1) !important; }

.back-top-hide {
  display: block;
  -webkit-animation: display-hide-transition .3s;
  animation: display-hide-transition .3s; }

@-webkit-keyframes display-hide-transition {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

.ripple {
  overflow: hidden; }

.ripple-effect {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #4A4A4A;
  border-radius: 50%;
  animation: ripple-animation 2s;
  -webkit-animation: ripple-animation 2s; }

@-webkit-keyframes ripple-animation {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    opacity: 0.4; }
  100% {
    transform: scale(100);
    -webkit-transform: scale(100);
    -moz-transform: scale(100);
    -o-transform: scale(100);
    opacity: 0; } }

.footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: auto;
  padding: 100px 0.9375em 70px 0.9375em;
  position: relative; }
  .footer .footer-logo {
    display: inline-block;
    vertical-align: top;
    max-width: 300px; }
    .footer .footer-logo img {
      width: 15%;
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: top; }
    .footer .footer-logo div {
      display: inline-block;
      vertical-align: top; }
      .footer .footer-logo div p {
        color: #050505;
        font-style: italic;
        margin: 0 0 0 10px; }
  .footer .footer-social {
    display: inline-block;
    vertical-align: top;
    max-width: 300px; }
    .footer .footer-social p {
      margin-bottom: 5px; }
    .footer .footer-social a {
      padding-right: 10px;
      font-size: 1.125em;
      color: #050505; }
      .footer .footer-social a i {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .footer .footer-social a:hover .fa-twitter {
        color: #00aced; }
      .footer .footer-social a:hover .fa-facebook-official {
        color: #3b5998; }
      .footer .footer-social a:hover .fa-vimeo {
        color: #1ab7ea; }
      .footer .footer-social a:hover .fa-tumblr-square {
        color: #32506d; }

.sponsor {
  width: 100%;
  max-width: 1920px; }
  .sponsor .brands {
    margin-top: 30px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    .sponsor .brands span {
      padding: 0 20px 20px 20px;
      max-width: 150px;
      display: inline-block;
      vertical-align: middle; }
      .sponsor .brands span img {
        vertical-align: middle; }

.header {
  width: 100%;
  max-width: 1920px;
  background: white;
  margin: 0 auto;
  position: relative;
  zoom: 1; }
  .header:before, .header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .header:after {
    clear: both; }
  .header .header-logo {
    padding: 50px 0;
    width: 100%;
    text-align: center; }
    .header .header-logo img {
      width: 300px; }
  .header .search-wrap a {
    display: block;
    background: url(../img/search-icon3.svg) center right no-repeat;
    background-size: 20px 20px; }
  .header .header-nav {
    text-align: center; }
    .header .header-nav a {
      color: #615f5f;
      font-weight: bold;
      font-size: 1.125em;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .header .header-nav a:hover {
        color: white;
        background-color: #615f5f; }
    .header .header-nav .is-active {
      background-color: #615f5f; }
      .header .header-nav .is-active a {
        color: white; }
    .header .header-nav .submenu {
      text-align: left;
      z-index: 3; }
      .header .header-nav .submenu li a {
        font-weight: normal;
        color: #615f5f; }
        .header .header-nav .submenu li a:hover {
          color: #050505;
          background-color: #d0ccc9; }
  .header .header-menu {
    position: absolute;
    top: 140px;
    left: 20px;
    display: none; }
    .header .header-menu div {
      display: inline-block; }
    .header .header-menu .menu-button {
      display: block;
      padding-top: 5px; }
  .header .header-mobile {
    margin-top: 20px;
    height: 0;
    overflow: hidden; }
    .header .header-mobile a {
      color: #615f5f;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .header .header-mobile a:hover {
        color: #050505; }
        .header .header-mobile a:hover:after {
          border-color: #615f5f transparent transparent; }
      .header .header-mobile a:after {
        border-color: #615f5f transparent transparent; }
    .header .header-mobile .mobile-menu-title {
      font-weight: bold;
      font-size: 1.125em;
      text-transform: uppercase;
      padding: 1.5em 2em 1em 2em; }
    .header .header-mobile .mobile-menu-section {
      border-bottom: 1px solid #615f5f; }
    .header .header-mobile .submenu a {
      padding: 1em 2.2em;
      border-top: 1px solid #d0ccc9; }
  .header .header-mobile-open {
    height: auto; }

.directors-list {
  text-align: center;
  max-width: 800px;
  margin: 50px auto; }
  .directors-list .directors, .directors-list .regional-directors {
    width: 42%;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top; }
    .directors-list .directors div, .directors-list .regional-directors div {
      text-align: center;
      margin: 0 auto 15px auto; }
      .directors-list .directors div p, .directors-list .directors div span, .directors-list .regional-directors div p, .directors-list .regional-directors div span {
        color: #7d7672;
        font-size: 1.25em; }
      .directors-list .directors div p, .directors-list .regional-directors div p {
        font-weight: bold;
        margin-bottom: 0; }
      .directors-list .directors div span, .directors-list .regional-directors div span {
        font-style: italic; }

.about-slogan {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .about-slogan p {
    font-size: 1.5em;
    font-weight: bold;
    color: #7d7672;
    margin: 1em 0; }

.general-information {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 100px auto; }
  .general-information p {
    font-size: 1.333em;
    color: #7d7672; }
    .general-information p a {
      color: inherit;
      border-bottom: 1px solid transparent;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .general-information p a:hover {
        color: #050505;
        border-bottom: 1px solid #050505; }

.news-block {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto 0 auto; }
  .news-block div {
    display: inline-block;
    vertical-align: top; }
  .news-block .news-image {
    width: 260px; }
    .news-block .news-image img {
      width: 100%; }
  .news-block .news-description-block {
    width: calc(100% - 285px);
    margin-left: 20px; }
    .news-block .news-description-block .news-title {
      font-size: 1.667em;
      font-weight: bold; }
    .news-block .news-description-block .news-desc {
      font-size: 1.333em; }
      .news-block .news-description-block .news-desc a {
        color: #7d7672;
        border-bottom: 1px solid transparent;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .news-block .news-description-block .news-desc a:hover {
          color: #050505;
          border-bottom: 1px solid #050505; }

.info-text-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto; }
  .info-text-wrapper .text-info {
    zoom: 1; }
    .info-text-wrapper .text-info:before, .info-text-wrapper .text-info:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .info-text-wrapper .text-info:after {
      clear: both; }
  .info-text-wrapper .info-block {
    width: calc(100% - 300px);
    max-width: 900px;
    display: inline-block;
    vertical-align: top; }
    .info-text-wrapper .info-block .text-title {
      margin: 30px 0 10px 0;
      color: #050505; }
    .info-text-wrapper .info-block p {
      font-size: 1.333em; }
      .info-text-wrapper .info-block p a {
        font-weight: bold;
        border-bottom: 1px solid transparent;
        color: #7d7672;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .info-text-wrapper .info-block p a:hover {
          border-bottom: 1px solid #050505;
          color: #050505; }
  .info-text-wrapper .mural-image {
    width: 100%; }

.contact-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto; }
  .contact-wrapper .contact-left, .contact-wrapper .contact-right {
    display: inline-block;
    width: 49%;
    vertical-align: top; }
  .contact-wrapper .contact-left h2 {
    font-weight: bold; }
  .contact-wrapper .contact-left p {
    font-size: 1.333em;
    color: #7d7672; }
  .contact-wrapper .contact-right .input-group p {
    font-size: 1.333em;
    color: #7d7672;
    margin-bottom: 5px; }
  .contact-wrapper .contact-right .input-group .two-column-field {
    display: inline-block;
    width: 49%; }
    .contact-wrapper .contact-right .input-group .two-column-field:last-child {
      margin-left: 1%; }
  .contact-wrapper .contact-right .input-group input {
    color: #7d7672; }
  .contact-wrapper .contact-right .input-group textarea {
    border-color: #cacaca;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    background-color: #fefefe;
    color: #7d7672;
    font-size: 1rem; }
    .contact-wrapper .contact-right .input-group textarea:focus {
      box-shadow: #cacaca 0px 0px 5px 0px;
      border-color: #796a55; }

.schedule-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto; }
  .schedule-wrapper .schedule-grid {
    height: 100%; }
    .schedule-wrapper .schedule-grid a {
      display: block;
      position: relative;
      min-height: 250px; }
      .schedule-wrapper .schedule-grid a .grid-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .schedule-wrapper .schedule-grid a .grid-overlay p {
          font-size: 2em;
          font-weight: bold;
          color: white;
          text-align: center; }
        .schedule-wrapper .schedule-grid a .grid-overlay .schedule-date {
          padding-top: 10px;
          font-size: 2.5em; }
        .schedule-wrapper .schedule-grid a .grid-overlay .schedule-city {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          margin: auto;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          padding: 0 5%; }
      .schedule-wrapper .schedule-grid a:hover .grid-overlay {
        background-color: rgba(0, 0, 0, 0.6); }
  .schedule-wrapper .annual-listing {
    margin-bottom: 1px; }
  .schedule-wrapper .orange {
    background-color: #f08245; }
  .schedule-wrapper .red {
    background-color: #ec563e; }
  .schedule-wrapper .blue {
    background-color: #57b3be; }
  .schedule-wrapper .green {
    background-color: #99c860; }
  .schedule-wrapper .purple {
    background-color: #9f4d7e; }
  .schedule-wrapper .yellow {
    background-color: #dad859; }
  .schedule-wrapper .darkBlue {
    background-color: #062288; }
  .schedule-wrapper .lightGray {
    background-color: #bbbbbb; }
  .schedule-wrapper .gray1 {
    background-color: #6b6a65; }
  .schedule-wrapper .gray2 {
    background-color: #4d4d4a; }
  .schedule-wrapper .gray3 {
    background-color: #6b6a65; }
  .schedule-wrapper .gray4 {
    background-color: #2f302e; }
  .schedule-wrapper .gray5 {
    background-color: #4d4d4a; }

.grid-wrapper {
  padding: 15px 0; }

.grid-block {
  margin: 15px 0;
  height: 100%; }
  .grid-block a {
    display: block;
    position: relative; }
    .grid-block a .grid-image {
      background-position: center center;
      background-size: cover;
      min-height: 200px; }
    .grid-block a .grid-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .grid-block a .grid-overlay p {
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 5%; }
    .grid-block a:hover .grid-overlay {
      background-color: rgba(0, 0, 0, 0.6); }

.one-column-description {
  margin: 50px auto;
  max-width: 1200px; }
  .one-column-description h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center; }
  .one-column-description p {
    font-size: 1.333em;
    color: #7d7672; }
    .one-column-description p a {
      color: #7d7672;
      font-weight: bold;
      border-bottom: 1px solid transparent;
      font-style: italic;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .one-column-description p a:hover {
        color: #050505;
        border-color: #050505; }

button:focus {
  outline: none; }

.lines-button {
  display: inline-block;
  padding: 0.66667rem 0.4rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;
  line-height: 50%;
  vertical-align: middle;
  z-index: 999;
  position: relative;
  margin: 5px 0 0 0;
  background: none; }
  .lines-button:hover {
    opacity: 1;
    background: none; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.16667rem;
  background: #050505;
  border-radius: 0.16667rem;
  transition: 0.3s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2rem;
    height: 0.16667rem;
    background: #050505;
    border-radius: 0.16667rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.14286rem center; }
  .lines:before {
    top: 0.5rem; }
  .lines:after {
    top: -0.5rem; }

.lines-button.x.close .lines {
  background: none; }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 2rem; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.banner-button {
  width: 300px;
  height: 80px;
  border: 3px solid white;
  margin: 50px auto;
  display: table;
  position: relative;
  text-align: center; }
  .banner-button a {
    font-size: 3em;
    color: white;
    display: block;
    line-height: 80px;
    width: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #333;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .banner-button a:hover {
      background: white;
      color: black; }

.index-button:after {
  content: '>>';
  display: block;
  position: absolute;
  font-size: 3em;
  color: white;
  right: 15px;
  top: 9px;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.index-button:hover:after {
  opacity: 1;
  right: -60px; }

.arrow-down {
  border: none; }
  .arrow-down a {
    position: relative; }
    .arrow-down a:hover {
      color: #ddd;
      background: none; }
      .arrow-down a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1); }
      .arrow-down a:hover:after {
        bottom: -55px; }
    .arrow-down a:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 15px;
      left: 0;
      background-color: #ddd;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .arrow-down a:after {
      font-family: "FontAwesome";
      content: '\f103';
      display: block;
      font-size: 2em;
      color: white;
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      margin: 0 auto;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }

.black-button {
  border-color: #333; }
  .black-button a {
    color: #333; }
    .black-button a:hover {
      background: #333;
      color: white; }
  .black-button:after {
    color: #333; }

.filter-submit {
  display: inline-block;
  margin-left: 20px; }

.filter-submit button {
  padding: 5px 10px;
  border: 1px solid #333;
  margin-left: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .filter-submit button:hover {
    background-color: #eee; }

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  min-height: 0; }

.textfield {
  outline: 0;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  border: none;
  font-size: 0.875em;
  display: inline-block;
  background: white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px; }

.search-textfield {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  left: 0;
  right: 0;
  height: 0;
  font-size: 40px;
  display: inline-block;
  font-family: "Ubuntu";
  font-weight: 300;
  border: none;
  outline: none;
  box-shadow: none;
  color: #050505;
  padding: 0;
  width: 40px;
  margin: 10px auto 0 auto;
  opacity: 0.3;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .search-textfield:hover {
    opacity: 1; }
  .search-textfield:focus {
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 1px solid #050505;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

.search-open {
  height: 60px;
  width: 100%;
  z-index: 1;
  cursor: text;
  background: none;
  opacity: 1;
  border-bottom: 1px solid #050505; }

.disabled {
  background: #f1f1f1; }

.search-mobile {
  width: 100%;
  max-width: 1280px;
  font-size: 16px;
  display: block;
  font-family: "Ubuntu";
  font-weight: 300;
  border: 1px solid #d0ccc9;
  outline: none;
  box-shadow: none;
  color: #050505;
  padding: 10px 20px 10px 35px;
  margin: 10px auto 0 auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: url(../img/search-icon3.svg) 10px center no-repeat;
  background-size: 15px 15px; }
  .search-mobile:focus {
    box-shadow: none;
    border-bottom: 1px solid #050505;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

.lang-box-wrapper {
  zoom: 1; }
  .lang-box-wrapper:before, .lang-box-wrapper:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .lang-box-wrapper:after {
    clear: both; }
  .lang-box-wrapper .cs-skin-underline .cs-options {
    background: white; }

.lang-select-box {
  padding: 0;
  float: right;
  margin-right: 1.167em;
  max-width: 70px;
  font-size: 1em; }
  .lang-select-box .cs-placeholder {
    padding: 0.5em 3em 0.5em 0.5em; }

.filter-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto 10px auto;
  text-align: right;
  padding: 0 1.2em; }

div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  width: 100%;
  max-width: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */ }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75em; }

/* Placeholder and selected option */
.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cs-select > span::after {
  content: '\25BE';
  right: 1em; }

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em; }

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

div.cs-active {
  z-index: 200; }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 1em; }

.cs-select ul li.cs-focus span {
  background-color: #fff; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

div.cs-skin-underline {
  background: transparent;
  font-size: 1.8em;
  max-width: 150px; }

@media screen and (max-width: 30em) {
  div.cs-skin-underline {
    font-size: 1.2em; } }

.cs-skin-underline > span {
  border-bottom: 1px solid #fff;
  border-color: inherit;
  color: #050505; }

.cs-skin-underline > span::after {
  font-family: 'FontAwesome';
  content: '\f00d';
  right: 0.25em;
  -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  font-size: 0.75em; }

.cs-skin-underline.cs-active > span::after {
  -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 270deg);
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 270deg); }

.cs-skin-underline .cs-options {
  background: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
  transition: opacity 0.3s 0.4s, visibility 0s 0.7s; }

.cs-skin-underline.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.cs-skin-underline ul span {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0.5em 0.8em;
  opacity: 0;
  color: #7d7672;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s; }

.cs-select ul span::after {
  content: '';
  opacity: 0; }

.cs-select .cs-selected span::after {
  font-family: 'FontAwesome';
  content: '\f067';
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.7s;
  transition: opacity 0.3s 0.7s; }

.cs-skin-underline ul span::before {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.cs-skin-underline li:nth-child(5) span,
.cs-skin-underline li:nth-child(5) span::before,
.cs-skin-underline.cs-active li:first-child span,
.cs-skin-underline.cs-active li:first-child span::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.cs-skin-underline li:nth-child(4) span,
.cs-skin-underline li:nth-child(4) span::before,
.cs-skin-underline.cs-active li:nth-child(2) span,
.cs-skin-underline.cs-active li:nth-child(2) span::before {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.cs-skin-underline li:nth-child(3) span,
.cs-skin-underline li:nth-child(3) span::before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.cs-skin-underline li:nth-child(2) span,
.cs-skin-underline li:nth-child(2) span::before,
.cs-skin-underline.cs-active li:nth-child(4) span,
.cs-skin-underline.cs-active li:nth-child(4) span::before {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(5) span,
.cs-skin-underline.cs-active li:nth-child(5) span::before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

/* more items require more delay declarations */
.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
  color: #050505;
  background: white; }

.filter-outer-box {
  display: inline-block; }

.filter-label {
  font-size: 1.5em;
  display: inline-block;
  color: #7d7672;
  vertical-align: top; }

.filter-box, .arrange-box {
  display: inline-block;
  min-width: 150px;
  margin-left: 20px;
  vertical-align: top; }
  .filter-box .cs-placeholder, .arrange-box .cs-placeholder {
    color: #7d7672; }
  .filter-box .cs-options li span:hover, .arrange-box .cs-options li span:hover {
    background: white;
    color: #050505; }
  .filter-box .cs-options span, .arrange-box .cs-options span {
    color: #7d7672;
    background-color: #fff; }
    .filter-box .cs-options span::before, .arrange-box .cs-options span::before {
      background-color: #7d7672; }

.lang-select .cs-placeholder {
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

.lang-select li.cs-selected span, .lang-select .cs-options li span:hover {
  color: #050505; }

.location-filter-box .cs-options span, .location-filter-box .cs-options .cs-selected {
  background-color: #f7f7f7; }

.location-filter-wrap {
  position: relative;
  top: 0;
  right: 0;
  margin-bottom: 30px;
  float: right; }
  .location-filter-wrap .filter-label {
    vertical-align: middle; }

.filter-span {
  font-size: 1.5em;
  display: inline-block;
  width: 60px;
  text-align: center; }

.tabs, .tabs-content {
  border: none;
  background: white; }

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: #050505; }

.tabs-title > a:hover {
  background: #050505; }

.schedule-timeline {
  margin-top: 20px; }
  .schedule-timeline .schedule-timeline-title {
    text-align: center;
    font-weight: bold;
    font-size: 3em; }

.timeline-wrapper h2 {
  font-size: 2em; }

.schedule-tab-content {
  zoom: 1; }
  .schedule-tab-content:before, .schedule-tab-content:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .schedule-tab-content:after {
    clear: both; }

.event-title-wrap div {
  display: inline-block;
  vertical-align: top; }
  .event-title-wrap div img {
    width: 50px;
    margin-top: 10px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.event-title-wrap .event-title {
  width: calc(100% - 120px); }

.timeline-series dt a.open .event-title-wrap div img {
  width: 100px; }

.timeline-event-content p {
  max-width: 100%;
  color: #7d7672; }
  .timeline-event-content p a {
    color: #7d7672;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-style: italic;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .timeline-event-content p a:hover {
      color: #050505;
      border-color: #050505; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.nobreak {
  margin-bottom: 0; }

.title-black {
  color: #050505; }

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#map {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 600px;
  margin: 30px auto; }
  #map .info-box a {
    font-size: 1.5em;
    font-weight: bold;
    color: #050505;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    #map .info-box a:hover {
      border-bottom: 1px solid #615f5f;
      color: #615f5f; }
  #map .info-box img {
    width: 100%; }

.pagination-block {
  margin: 100px 0 50px 0; }
  .pagination-block .disabled {
    background: none; }
  .pagination-block .current {
    background: #615f5f; }
  .pagination-block li a {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.left-column {
  max-width: 250px;
  width: 100%;
  display: inline-block;
  margin-top: 40px;
  vertical-align: top;
  float: right; }
  .left-column .social-share {
    width: 100%;
    display: block; }
    .left-column .social-share .social-icon {
      margin-top: 10px; }
      .left-column .social-share .social-icon a {
        padding-right: 10px;
        font-size: 1.125em;
        color: #050505; }
        .left-column .social-share .social-icon a i {
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .left-column .social-share .social-icon a:hover .fa-twitter {
          color: #00aced; }
        .left-column .social-share .social-icon a:hover .fa-facebook-official {
          color: #3b5998; }
        .left-column .social-share .social-icon a:hover .fa-vimeo {
          color: #1ab7ea; }
        .left-column .social-share .social-icon a:hover .fa-tumblr-square {
          color: #32506d; }
  .left-column .participant-social {
    margin-bottom: 10px; }
    .left-column .participant-social .social-pages {
      padding: 5px 0; }
      .left-column .participant-social .social-pages p {
        margin: 10px 0; }
        .left-column .participant-social .social-pages p a {
          color: #7d7672;
          font-size: 1.125em;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
          .left-column .participant-social .social-pages p a:hover {
            color: #050505; }
  .left-column .next-prev .next-pre-participant {
    padding: 5px 0; }
    .left-column .next-prev .next-pre-participant p {
      margin: 10px 0; }
      .left-column .next-prev .next-pre-participant p a {
        color: #7d7672;
        font-size: 1.125em;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .left-column .next-prev .next-pre-participant p a:hover {
          color: #050505; }

.loader, .loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #eee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  transition: all 1s ease;
  -moz-transition: all 1s ease; }

.loader-bg {
  z-index: 999999; }

.spinner {
  top: 49%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70px;
  text-align: center;
  position: fixed; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@media only screen and (max-width: 860px) {
  .lang-select-box {
    max-width: 60px; } }

@media only screen and (max-width: 768px) {
  .header .header-logo {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0; }
    .header .header-logo img {
      width: 150px; }
  .header-nav {
    display: none; }
  .header .header-menu {
    display: block; }
  .lang-box-wrapper {
    right: 80px; }
  #map {
    min-height: 300px; }
  .info-text-wrapper .info-block {
    width: 100%; }
  .left-column {
    float: none;
    max-width: 100%; } }

@media only screen and (max-width: 640px) {
  .search-textfield {
    height: 30px;
    background-size: 29px 29px;
    font-size: 30px; }
    .search-textfield:focus {
      width: 90%;
      background-size: 29px 29px; }
  .footer .row {
    text-align: center; }
  .footer .footer-logo img {
    max-width: 100px; }
  .footer .footer-nav-block {
    padding: 15px 0; }
  .footer .footer-nav {
    padding-right: 0;
    padding: 0 0.9375em; }
  .footer .footer-title {
    padding-left: 0; }
  .lang-select-box {
    padding: 0;
    text-align: center; }
  .news-block .news-description-block, .news-block .news-image {
    display: block;
    width: 100%; }
  .news-block .news-image {
    max-width: 400px;
    margin: 0 auto; }
  .news-block .news-description-block {
    margin-left: 0;
    margin-top: 20px; }
  .contact-wrapper .contact-left, .contact-wrapper .contact-right {
    width: 100%;
    display: block; }
  .contact-wrapper .contact-left {
    text-align: center; }
    .contact-wrapper .contact-left h2 {
      font-size: 3em; }
  .event-title-wrap .event-title p {
    font-size: 0.75em; } }

@media only screen and (max-width: 480px) {
  .search-textfield {
    height: 25px;
    background-size: 24px 24px;
    font-size: 24px; }
    .search-textfield:focus {
      background-size: 24px 24px; }
  .cs-select span {
    font-size: 1em; }
  #map {
    min-height: 200px; }
  .directors-list .directors, .directors-list .regional-directors {
    width: 100%; } }

@media only screen and (max-width: 520px) {
  .filter-box, .arrange-box {
    margin-bottom: 20px; } }

@media only screen and (max-width: 400px) {
  .content .content-title {
    font-size: 2em; }
  .filter-box, .arrange-box {
    margin-bottom: 20px; } }

@media only screen and (max-width: 320px) {
  * {
    max-width: 300px; } }
