extend layouts/index-layout.jade

block header
	include component/header.jade

block page-title
	p Art and Music Discussion Panels

block sponsor-title
	p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block main-content
	.info-text-wrapper
		.mural-image
			img(src="http://powwowhawaii.com/wp-content/uploads/2013/04/pw_musicpanel_01.jpg")
		.one-column-description
			h2 Art and Music Discussion Panels
			p Partnering with the University of Hawaii’s Intersection Program, our art discussion panels have boasted a wide range of speakers from artists to media moguls to brand owners. Featured participants have included the likes of Suitman, Jeff Hamada of Booooooom, Eugene Kan of Hypebeast, Ken Harman of Hi Fructose and Spoke Art, Frank Liew of Qubic and Carbon, Mark Bode, Prime, Estria, Noah Callahan Bever of Complex, Joy Yoon of Huffington Post, and Angry Woebots. On the other end of the spectrum, our music discussion panels have included DJ Neil Armstrong, Roslynn Cobarrubias of Myspace Music, DJ Compose, Hisham Dahud, and producer Christian Mochizuki.
			p Our free panels are offered to the community in hopes that it will both inspire and educate students and young professionals. They will hear first hand the real life experiences of successful individuals that have realized their dreams. Past panels have been held in the University of Hawaii Art Auditorium and Loft in Space.
