doctype html
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Pow! Wow! Taiwan!
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:site_name', content='Pow! Wow! Taiwan!')
		meta(property='og:type', content='website')
		meta(property='og:title', content='')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:description', content='')
		<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="fav/manifest.json">
		<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="POW! WOW!">
		<meta name="application-name" content="POW! WOW!">
		<meta name="theme-color" content="#ffffff">
		link(rel='stylesheet', href='font/aller.css')
		link(rel='stylesheet', href='css/foundation.css')
		link(rel='stylesheet', href='css/materialize.css')
		link(rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/timeliner.css')
		link(rel='stylesheet', href='css/styles.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,300', rel='stylesheet', type='text/css')
		script(src='js/jquery.min.js')
		script(src='js/materialize.js')
		script(src='js/foundation.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/classie.js')
		script(src='js/selectFx.js')
		script(src='js/scrollTo.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js")
		script(src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js')
		script.
			function goToByScroll(id){
				id = id.replace("link", "");
				$('html,body').animate({
					scrollTop: $("#"+id).offset().top - 50},
				'slow');
			}
			function redirectPage() {
				window.location = linkLocation;
			}
			$(window).load(function(){
				$('.loader').fadeOut(500);
				$('.loader-bg').fadeOut(1000);

			});
			$(document).ready(function() {
			 	$('body').fadeIn(1000);
			 	$(".linkFade").click(function(event){
			        event.preventDefault();
			        linkLocation = this.href;
			        $("body").fadeOut(1000, redirectPage);      
			    });
				$(document).foundation();
				
				
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el){	
					new SelectFx(el);
				}); 
				
				$('.lines-button').click(function(e) {
					e.preventDefault();
					$('.lines-button').toggleClass('close');
					var open = $('.screen-menu').hasClass('sm-overlay-open');
					if(open) {
						$('.screen-menu').removeClass('sm-overlay-open');
						$('body').css({'overflow-y': 'auto'});
						$('.header').find('.menu-button').show();
					} else {
						$('.screen-menu').addClass('sm-overlay-open');
						$('body').css({'overflow-y': 'hidden'});
						$('.header').find('.menu-button').hide();
					}
				});
				$(window).scroll(function(){
					if ($(this).scrollTop() > 50) {
						$('.back-to-top').addClass('back-top-show');
					} else if($('.back-to-top').hasClass('back-top-show')) {
						$('.back-to-top').addClass('back-top-hide').removeClass('back-top-show');
						window.setTimeout(function(){
							$('.back-to-top').removeClass('back-top-hide');
						}, 100);
					} else {
						$('.back-to-top').removeClass('back-top-show');
					}
				});
				$('.back-to-top').click(function(){
					$("html, body").animate({ scrollTop: 0 }, 500);
					return false;
				});
				$('.ripple').on('click', function (event) {
					var $div = $('<div/>'),
					btnOffset = $(this).offset(),
					xPos = event.pageX - btnOffset.left,
					yPos = event.pageY - btnOffset.top;

					if ($(window).width() > 641) {
						$div.addClass('ripple-effect');
						var $ripple = $(".ripple-effect");

						$ripple.css("height", $(this).height());
						$ripple.css("width", $(this).height());
						$div
						.css({
							top: yPos - ($ripple.height()/2),
							left: xPos - ($ripple.width()/2),
							background: $(this).data("ripple-color")
						}) 
						.appendTo($(this));

					} 
					window.setTimeout(function(){
						$div.fadeOut('normal', function(){
							$(this).remove();
						});
					}, 500);
				});
				var config = {
					viewFactor: 0.15,
					duration: 800,
					distance: '0px',
					scale: 0.8
				}
				window.sr = ScrollReveal(config);
				sr.reveal('.revealer');

			});
	body
		.loader-bg
			.spinner
				.bounce1
				.bounce2
				.bounce3
		.wrapper
			include component/header.jade
			.content
				.content.padding-column.p-bottom-50
					a.prev-underline.back-panel.event-back(href="javascript: history.go(-1)")
							i.fa.fa-angle-left(aria-hidden="true")
							span Back To Education
					.menu-divider
					p.about-title.small-title.revealer POW! WOW! SCHOOL OF ART
					.powwow-history
						.pow-section.revealer 
							p The 808 URBAN and POW WOW SCHOOL OF ART works with dedicated students over a period of nine months through various after school and Saturday art classes. Led by 808 Urban’s John “Prime” Hina, these workshops will explore contemporary urban art and its influence on commercial culture from the 1950s to the present. Students will discuss changing societal concepts regarding contemporary public “street” art while exploring a variety of artistic concepts, including basic design, color theory, and symbolism. Additional elements that will naturally come from these workshops include self-expression, and cultural awareness, as well as respect for community and nature.
							p These workshops are an effort to prepare students for future POW WOW Hawaii gatherings. The more art these students do in preparation for these gatherings, the more the students will be able to learn from these national and international urban artists. The hope is that the participating students will be able to conceive, develop, and collaborate on a large mural in Kakaʻako as part of POW WOW Hawai’i.
							p The following schools have participated in a POW WOW Hawaii education program include: Kamehameha Schools, Roosevelt High School, McKinley High School, YMCA, Voyager Charter Schools, Punahou School, Farrington High School and Washington Middle School.
						.pow-section.revealer
							p The ultimate mission is to validate student art experiences and introduce young people to various forms of public expression. Working closely with 808 Urban to continue to support a gathering of contemporary artists that engages with the broader community in the process and creation of art. The final product of the project will beautify a portion of the students’ urban landscape.
							p If you have any questions about the 808 URBAN and POW WOW SCHOOL OF ART, please feel free to contact:
							p Prime, 
								a(mailto="prime.808urban@gmail.com") prime.808urban@gmail.com
							p Sierra Dew, 
								a(mailto="sierra@808urban.org") sierra@808urban.org
							p Jasper Wong, 
								a(mailto=" jasper@powwowhawaii.com")  jasper@powwowhawaii.com
			include component/footer.jade
			a.back-to-top.ripple(href="#") TOP