doctype html
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Pow! Wow! Taiwan!
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:site_name', content='Pow! Wow! Taiwan!')
		meta(property='og:type', content='website')
		meta(property='og:title', content='')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:description', content='')
		<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="fav/manifest.json">
		<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="POW! WOW!">
		<meta name="application-name" content="POW! WOW!">
		<meta name="theme-color" content="#ffffff">
		link(rel='stylesheet', href='font/aller.css')
		link(rel='stylesheet', href='css/foundation.css')
		link(rel='stylesheet', href='css/materialize.css')
		link(rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/timeliner.css')
		link(rel='stylesheet', href='css/styles.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,300', rel='stylesheet', type='text/css')
		script(src='js/jquery.min.js')
		script(src='js/materialize.js')
		script(src='js/foundation.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/classie.js')
		script(src='js/selectFx.js')
		script(src='js/particles.js')
		script(src='js/scrollTo.js')
		script(src='js/barba.min.js')
		script(src='js/jquery.grid-a-licious.js')
		script(src='js/timeliner.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js")
		script.
			function goToByScroll(id){
				id = id.replace("link", "");
				$('html,body').animate({
					scrollTop: $("#"+id).offset().top - 50},
				'slow');
			}
			function redirectPage() {
				window.location = linkLocation;
			}
			$(window).load(function(){
				$('.loader').fadeOut(500);
				$('.loader-bg').fadeOut(1000);

			});
			$(document).ready(function() {
			 	$('body').fadeIn(1000);
			 	$(".linkFade").click(function(event){
			        event.preventDefault();
			        linkLocation = this.href;
			        $("body").fadeOut(1000, redirectPage);      
			    });
				$(document).foundation();
				$('.item').hover(function(){
					$('.item').not(this).css('opacity', '0.4');
				}, function(){
					$('.item').not(this).css('opacity', '1');
				});
				$.timeliner({
					baseSpeed: 300,
					speed: 1
				});
				//- var page = 4;
				//- var setting = {
				//- 	gridWidth: [0,400,600,800],
				//- 	scrollbottom:{
				//-     	gap: 300,
				//-         endtxt : 'No More Data !!',
				//-     }
				//- }
				$.fn.is_on_screen = function(){
					var win = $(window);
					var viewport = {
						top : win.scrollTop(),
						left : win.scrollLeft()
					};
					viewport.right = viewport.left + win.width();
					viewport.bottom = viewport.top + win.height();

					var bounds = this.offset();
					bounds.right = bounds.left + this.outerWidth();
					bounds.bottom = bounds.top + this.outerHeight();

					return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
				};
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el){	
					new SelectFx(el);
				}); 
				//- $('.pin-block').waterfall(setting);	
				$('.mural-container').gridalicious({
					selector: '.item',
					width: 400
				});
				
				$('.parallax').parallax();
				Barba.Prefetch.init();
				Barba.Pjax.start();
				Barba.Dispatcher.on('newPageReady', function(currentStatus, oldStatus, container) {
					$(function(){
						
						$('.mural-container').gridalicious({
							selector: '.item',
							width: 400
						});
						
						$('.item').hover(function(){
							$('.item').not(this).css('opacity', '0.4');
						}, function(){
							$('.item').not(this).css('opacity', '1');
						});
						$.timeliner({
							baseSpeed: 300,
							speed: 1
						});
						$('.panel').click(function(){
							$('html,body').animate({
								scrollTop: $("#content").offset().top - 50},
							'slow');
						});
						$('.tabs-title a').each(function(){
							$(this).click(function(e){
								$('.tabs-title a').removeClass('is-active');
								$(this).addClass('is-active');
								var link = $(this).attr('href');
								$('.event-list-wrapper').scrollTo($(link), 800);
								e.preventDefault();
							})
						});
						$('.event-list-panel').each(function(){
							if($(window).width() > 480 ) {
								$(this).hover(function(){
									$(this).find('.panel-hack').addClass('hover');
									$(this).find('.panel-hack').addClass('expand');
									$(this).next().find('.panel-hack').addClass('shrink-right');
									$(this).prev().find('.panel-hack').addClass('shrink-left');
									$('.event-list-panel').not(this).css('opacity', '0.4');
									$(this).css('z-index', '999');

								}, function(){
									$(this).find('.panel-hack').removeClass('hover');
									$(this).find('.panel-hack').removeClass('expand');
									$(this).next().find('.panel-hack').removeClass('shrink-right');
									$(this).prev().find('.panel-hack').removeClass('shrink-left');
									$('.event-list-panel').not(this).css('opacity', '1');
									$(this).css('z-index', '5');
								});
							} else {
								$(this).hover(function(){
									$(this).find('.panel-hack').addClass('hover');
									$(this).find('.panel-hack').removeClass('expand');
									$(this).next().find('.panel-hack').removeClass('shrink-right');
									$(this).prev().find('.panel-hack').removeClass('shrink-left');
								});	
							}
						});
					});
				});

				var FadeTransition = Barba.BaseTransition.extend({
				  start: function() {
				    /**
				     * This function is automatically called as soon the Transition starts
				     * this.newContainerLoading is a Promise for the loading of the new container
				     * (Barba.js also comes with an handy Promise polyfill!)
				     */

				    // As soon the loading is finished and the old page is faded out, let's fade the new page
				    Promise
				      .all([this.newContainerLoading, this.fadeOut()])
				      .then(this.fadeIn.bind(this));
				  },

				  fadeOut: function() {
				    /**
				     * this.oldContainer is the HTMLElement of the old Container
				     */
					
				    return $(this.oldContainer).animate({ opacity: 0 }).promise();
				  },

				  fadeIn: function() {
				    /**
				     * this.newContainer is the HTMLElement of the new Container
				     * At this stage newContainer is on the DOM (inside our #barba-container and with visibility: hidden)
				     * Please note, newContainer is available just after newContainerLoading is resolved!
				     */

				    var _this = this;
				    var $el = $(this.newContainer);

				    $(this.oldContainer).hide();

				    $el.css({
				      visibility : 'visible',
				      opacity : 0
				    });

				    $el.animate({ opacity: 1 }, 2000, function() {
				      /**
				       * Do not forget to call .done() as soon your transition is finished!
				       * .done() will automatically remove from the DOM the old Container
				       */

				      _this.done();
				    });
				  }
				});
				

				/**
				 * Next step, you have to tell Barba to use the new Transition
				 */

				Barba.Pjax.getTransition = function() {
				  /**
				   * Here you can use your own logic!
				   * For example you can use different Transition based on the current page or link...
				   */
				   var transitionObj = FadeTransition;
				 		
					//- if (Barba.HistoryManager.prevStatus().namespace === 'event') {
				 //-       $('#barba-wrapper').show();
				 //-       $('.transition-page').show('300');
				       
				 //-    } else {
				 //-    	$('#barba-wrapper').hide();
				 //-    	setTimeout(function(){
					//- 		//- $('.transition-page').hide('300');
					//- 		$('#barba-wrapper').show('300');

							 
					//- 	}, 800);
						
				 //-    }		
				return transitionObj;
				 
				};
			});
	body
		.loader
			.circle
			.circle-small
			.circle-big
			.circle-inner-inner
			.circle-inner
		.loader-bg
		.wrapper
			include component/header.jade
			.content
				.parallax-container
					.parallax
						img(src='img/banner1.jpg')
						.pattern-hack
					.banner-slogan
						p.page-slogan events
						.banner-button.arrow-down: a#contentlink(href="#") SEE EVENTS
				a#content(href="#")
				.content.p-bottom-50#barba-wrapper
					.barba-container
						#particles-js
						a.prev-underline.back-panel.event-back(href="event-list.html")
							i.fa.fa-angle-left(aria-hidden="true")
							span Back To Murals
						.event-des
							p.index-title.small-title STRANDED IN PARADISE CONCERT 2016
							p.padding-column Every February, artists from all over the world travel to the island of Oahu for POW! WOW! Hawaii, an art and music festival that takes place in the Kaka’ako district of Honolulu. Heading into the 6th year in Hawaii and after a worldwide tour of festivals, the 2016 edition was even bigger and better. With over a hundred artists, musicians, photographers and media partners from across the globe attending and forming a unique creative community built on the celebration and appreciation of art, music and culture.<br><br>For the first time at the festival, POW! WOW! presented “Stranded in Paradise”. A concert with The Green and DJ Babu and Rakaa Iriscience of Dilated Peoples at Makers and Tasters in Kaka’ako, Hawaii. The event also featured the Secret Walls street art battles, the best food trucks, retail booths and more.
						p.index-title.small-title Timeline
						#timeline.timeline-container
							.timeline-wrapper
								h2.timeline-time 2016 Feb 28 
								dl.timeline-series
									dt.timeline-event#event01
										a Stranded in Paradise Concert!
									dd.timeline-event-content#event01EX
										p.bold The “Stranded in Paradise” lineup included:
										p - The Green
										p - DJ Babu and Rakaa Iriscience of Dilated Peoples
										p - Eli Mac and Likkle Mai
										p - Taimane Gardner
										p - Cipha Sounds
										p - POW! WOW! School of Music
										p - Secret Walls
							.timeline-wrapper
								h2.timeline-time 2016 Feb 28  18:00
								dl.timeline-series
									dt.timeline-event#event02
										a Stranded in Paradise Concert Starts!
									dd.timeline-event-content#event02EX
										p Concert officially starts.
							.timeline-wrapper
								h2.timeline-time 2016 Feb 28  22:00
								dl.timeline-series
									dt.timeline-event#event03
										a Stranded in Paradise Concert Ends!
									dd.timeline-event-content#event03EX
										p Concert ends.
							button.timeline-toggle + expand all
							.clearfix
						p.index-title.small-title Gallery
						div.artists-content-block
							.mural-container
								- var list = [{ name : "The hundred-pacer snake is the spirit animal of the Bunun Tribe", author : "Alexface Mural", data : "paradise1" }, { name : "Bounce and ANO doing great things that are powered by surface", author : "ANO & Bounce Mural", data : "paradise2" }, { name : "Finished mural by Ben Horton at Huashan Cultural Park", author : "Ben Horton Mural", data : "paradise3"},{ name : "Finished mural at Visavisjing hair salon in Taipei by Case Maclaim", author : "Case Maclaim Mural", data : "paradise4"}, { name : "Finished mural by Dragon76", author : "Dragon76 Mural", data : "paradise5"}, { name : "\"My hands and your heart exist only in a frame of understanding particular to ones own illusion\"", author : "Faith 47 Mural", data : "paradise6"}, { name : "Huatunan brings the tiger down from the mountains", author : "Huatunan Mural", data : "paradise7"}, { name : "Renewal of Life", author : "Jeff Soto Mural", data : "paradise8"}, { name : "Nychos in a blink of an eye", author : "Nychos Mural", data : "paradise9"}, { name : "Part of a series of Tainan Hai'An Road murals from POW! WOW! Taiwan's \"Tainan Station Block Party\" with Tainan Deptartment of Culture", author : "Mr. Ogay Mural", data : "paradise10"}, { name : "Omen + Satr + Creepymouse1 at Blueprint Cultural Park in Tainan", author : "Omen & Satr & Creepymouse1 Mural", data : "paradise11"}]
										each item in list
											.item
												a(href="img/"+item.data+".jpg", data-lightbox="lightbox").no-barba.zoomicon
													img(src="img/"+item.data+".jpg", data-caption=item.name)
												.card-bg-fix
							.clearfix
					
			include component/footer.jade
			//- a.back-to-top.ripple(href="#") TOP
	script(src='js/lightbox.js')
	script.
		lightbox.option({
				'fadeDuration': 300,
				'resizeDuration': 300
			});