extend layouts/index-layout.jade

block page-title
	p about pow! wow!

block sponsor-title
	p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block content-title
	h1.content-title about pow! wow!

block main-content
	.about-slogan 
		p POW! - 
			span.italic It's the impact that art has on a person.
	.about-slogan 
		p WOW! - 
			span.italic It's reaction that art has on a viewer.
	.general-information
		p Together they form <span class="bold">POW WOW</span>, which is a Native American term that describes a gathering that celebrates culture, music and art.

		p Centered around a week-long event in Hawaii, POW! WOW! has grown into a global network of artists and organizes gallery shows, lecture series, schools for art and music, mural projects, a large creative space named Lana Lane Studios, concerts, and live art installations across the globe. The central event takes place during Valentine’s Day week in February in the Kaka’ako district of Honolulu, and brings over a hundred international and local artist together to create murals and other forms of art. The festival is expanding to cities and countries such as Taiwan, Long Beach, Israel, Singapore, Jamaica, Washington D.C., Guam, New Zealand, Germany and more.

		p Browse the website and check out our many photos, videos and artist profiles. For the latest, stay tuned via our Instagram and Twitter – @powwowhawaii. Don’t forget to check out our shop for cool POW! WOW! and artist gear.

		p.italic For inquiries, please email <a href="mailto:info@powwowhawaii.com" class="bold">info@powwowhawaii.com</a>.