doctype html
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Pow! Wow! Taiwan!
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:site_name', content='Pow! Wow! Taiwan!')
		meta(property='og:type', content='website')
		meta(property='og:title', content='')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:description', content='')
		<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="fav/manifest.json">
		<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="POW! WOW!">
		<meta name="application-name" content="POW! WOW!">
		<meta name="theme-color" content="#ffffff">
		link(rel='stylesheet', href='font/aller.css')
		link(rel='stylesheet', href='css/foundation.css')
		link(rel='stylesheet', href='css/materialize.css')
		link(rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/timeliner.css')
		link(rel='stylesheet', href='css/styles.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,300', rel='stylesheet', type='text/css')
		script(src='js/jquery.min.js')
		script(src='js/materialize.js')
		script(src='js/foundation.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/classie.js')
		script(src='js/selectFx.js')
		script(src='js/scrollTo.js')
		script(src='js/jquery.grid-a-licious.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js")
		script.
			function goToByScroll(id){
				id = id.replace("link", "");
				$('html,body').animate({
					scrollTop: $("#"+id).offset().top - 50},
				'slow');
			}
			function redirectPage() {
				window.location = linkLocation;
			}
			$(window).load(function(){
				$('.loader').fadeOut(500);
				$('.loader-bg').fadeOut(1000);

			});
			$(document).ready(function() {
			 	$('body').fadeIn(1000);
			    $(".linkFade").click(function(event){
			        event.preventDefault();
			        linkLocation = this.href;
			        $("body").fadeOut(1000, redirectPage);      
			    });

				$(document).foundation();
				$('.lines-button').click(function(e) {
					e.preventDefault();
					$('.lines-button').toggleClass('close');
					var open = $('.screen-menu').hasClass('sm-overlay-open');
					if(open) {
						$('.screen-menu').removeClass('sm-overlay-open');
						$('body').css({'overflow-y': 'auto'});
						$('.header').find('.menu-button').show();
					} else {
						$('.screen-menu').addClass('sm-overlay-open');
						$('body').css({'overflow-y': 'hidden'});
						$('.header').find('.menu-button').hide();
					}
				});
				$(window).scroll(function(){
					if ($(this).scrollTop() > 50) {
						$('.back-to-top').addClass('back-top-show');
					} else if($('.back-to-top').hasClass('back-top-show')) {
						$('.back-to-top').addClass('back-top-hide').removeClass('back-top-show');
						window.setTimeout(function(){
							$('.back-to-top').removeClass('back-top-hide');
						}, 100);
					} else {
						$('.back-to-top').removeClass('back-top-show');
					}
				});
				
				$('.back-to-top').click(function(){
					$("html, body").animate({ scrollTop: 0 }, 500);
					return false;
				});
				$('.ripple').on('click', function (event) {
					var $div = $('<div/>'),
					btnOffset = $(this).offset(),
					xPos = event.pageX - btnOffset.left,
					yPos = event.pageY - btnOffset.top;

					if ($(window).width() > 641) {
						$div.addClass('ripple-effect');
						var $ripple = $(".ripple-effect");

						$ripple.css("height", $(this).height());
						$ripple.css("width", $(this).height());
						$div
						.css({
							top: yPos - ($ripple.height()/2),
							left: xPos - ($ripple.width()/2),
							background: $(this).data("ripple-color")
						}) 
						.appendTo($(this));

					} 
					window.setTimeout(function(){
						$div.fadeOut('normal', function(){
							$(this).remove();
						});
					}, 500);
				});
				
				$("#contentlink").click(function(e) { 
					e.preventDefault(); 
					goToByScroll($(this).attr("id"));           
				});
				$.fn.is_on_screen = function(){
					var win = $(window);
					var viewport = {
						top : win.scrollTop(),
						left : win.scrollLeft()
					};
					viewport.right = viewport.left + win.width();
					viewport.bottom = viewport.top + win.height();

					var bounds = this.offset();
					bounds.right = bounds.left + this.outerWidth();
					bounds.bottom = bounds.top + this.outerHeight();

					return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
				};
				
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el){	
					new SelectFx(el);
				});  
				//- $('.parallax').parallax();
				$('.artists-content-block').each(function(){
					$(this).find('.index-artist-block').last().addClass('end');
				});
				function expand() {
					$('.event-list-panel').each(function(){
						if($(window).width() > 480 ) {
							$(this).hover(function(){
								$('.event-list-panel').not(this).css('opacity', '0.4');
								$(this).css('z-index', '999');

							}, function(){
								$('.event-list-panel').not(this).css('opacity', '1');
								$(this).css('z-index', '5');
							});
						}
					});
				}		
				expand();
				$(window).resize(function(){
					expand();
				});
			});
	body
		.loader-bg
			.spinner
				.bounce1
				.bounce2
				.bounce3
		.wrapper
			include component/header.jade
			.content.padding-50
				//- .parallax-container
				//- 	.parallax
				//- 		img(src='img/banner1.jpg')
				//- 		.pattern-hack
				//- 	.banner-slogan
				//- 		p.page-slogan events
				//- 		.banner-button.arrow-down: a#contentlink(href="#") SEE EVENTS
				//- a#content(href="#")
				.transition-page.index-event.index-sec
					h3 Event
					.barba-container
						.tabs-content(data-tabs-content='event-tabs')
							.tabs-panel.is-active#panel1
								.event-list-wrapper
									.events-wrap
										#panel
										a.panel.event-list-panel(href='event.html')
											.panel-hack(style="background-image: url(img/event1.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span Feb. 28 2016 ~ Feb. 28 2016
													h4 STRANDED IN PARADISE CONCERT 2016
													span.panel-foot see event
										a.panel.event-list-panel(href='event2.html')
											.panel-hack(style="background-image: url(img/event2.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span Feb. 3 2016 ~ Feb. 3 2016
													h4 JEFF STAPLE 1-2-1 TALKS AT POW! WOW! HAWAII 2016
													span.panel-foot see event
										#panel2
										a.panel.event-list-panel(href='event.html')
											.panel-hack(style="background-image: url(img/event3.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span Nov. 1 2015 ~ Nov. 25 2015
													h4 THINKSPACE CURATED EXHIBITION 2016
													span.panel-foot see event
										a.panel.event-list-panel(href='event2.html')
											.panel-hack(style="background-image: url(img/event4.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span Feb. 5 2015 ~ Feb. 8 2015
													h4 VITALITY AND VERVE EXHIBITION AT THE LBMA
													span.panel-foot see event
										a.panel.event-list-panel(href='event2.html')
											.panel-hack(style="background-image: url(img/event5.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span Jan. 13 2015 ~ Jan. 13 2015
													h4 THE DEEPEST DEPTHS OF THE BURROW SCREENING
													span.panel-foot see event
										a.panel.event-list-panel(href='event.html')
											.panel-hack(style="background-image: url(http://powwowhawaii.com/wp-content/uploads/2015/07/20150624-DSC07221-1277x848.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span June. 4 2015 ~ June. 4 2015
													h4 JEFF STAPLE 1-2-1 WITH FAFI AT POW! WOW! LONG BEACH 2014
													span.panel-foot see event
										#panel3
										a.panel.event-list-panel(href='event2.html')
											.panel-hack(style="background-image: url(http://powwowhawaii.com/wp-content/uploads/2013/05/IMG_7962-1277x848.jpg);")
											.panel-bg
												.panel-darken
											.panel-content-wrap
												.panel-content
													span Feb. 5 2015 ~ Feb. 8 2014
													h4 “REEL TAWLK” BY PATRICK MARTINEZ
													span.panel-foot see event
					.index-artist.artists-content-block.index-sec
						h3 Participants
						.row
							- var list = [{ name : "alexface", data : "graffiti artist" },{ name : "caratoes", data : "music artist" },{ name : "colasa", data : "music artist"},{ name : "debe", data : "music artist"},{ name : "girenhao", data : "graffiti artist"}, { name : "horton", data : "graffiti artist"},{ name : "nychos", data : "music artist"}]
								each item in list
									.medium-4.small-12.columns.index-artist-block.revealer.safari_only
										a.linkFade(href="artist.html")
											.ratio-hack
												div.i-artist-thumb(style="background-image: url(img/"+item.name+"_thumb.jpg);")
													.i-artist-overlay
													.artist-name-cat
														p=item.name
														p.underline
														p=item.data
			include component/footer.jade
			//- a.back-to-top.ripple(href="#") TOP
	script(src='js/lightbox.js')
	script.
		lightbox.option({
				'fadeDuration': 300,
				'resizeDuration': 300
			});