extend layouts/index-layout.jade

block header
	include component/taiwan-header.jade

block page-title
	a(href="murals-all.html") 
		i.fa.fa-long-arrow-left(aria-hidden="true") 
		span &nbsp; Back to Pow! Wow! Murals

block second-title
	.page-title
		p More Pow! Wow! Murals

block sponsor-title
	.page-title
		p taiwan sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block main-content
	.info-text-wrapper
		.mural-image
			img(src="http://powwowhawaii.com/wp-content/uploads/2017/03/luiseone_ximen.jpg")
		.text-info
			.info-block
				h2.text-title.bold Luise Ono Wall in Ximen
				p Mural by <a href="#">Luise Ono</a> in Ximen, Taiwan for <a href="powwow-taiwan-2016.html">POW! WOW! Taiwan 2016</a>.
			.left-column
				.social-share
					.page-title
						p Share
					.social-icon
						a(href="https://twitter.com/powwowworldwide")
							i.fa.fa-twitter.fa-lg(aria-hidden="true")
						a(href="https://www.facebook.com/PowWowHawaii")
							i.fa.fa-facebook-official.fa-lg(aria-hidden="true")
						a(href="https://vimeo.com/powwowhawaii")
							i.fa.fa-vimeo.fa-lg(aria-hidden="true")
						a(href="http://powwowblog.tumblr.com/")
							i.fa.fa-tumblr-square.fa-lg(aria-hidden="true")


block second-content
	.grid-wrapper
		.row
			- var list = [{name: 'Bounce Wall in Ximen', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/bounce_01_ximen.jpg'}, {name: 'Candybird Wall in Taichung', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/CandyBird.jpg'}, {name: 'Girenhao Wall in Wei Wu Ying', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Girenhao-2.jpg'}, {name: 'Danae Wall in Wei Wu Ying', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Danae-2_Byaserktw.jpg'}]
				each item in list
					.large-3.medium-6.small-12.column.grid-block.end
						a(href=item.page)
							.grid-image(style='background-image: url('+item.image+')')
							.grid-overlay
								p=item.name