doctype html
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Pow! Wow! Taiwan!
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:site_name', content='Pow! Wow! Taiwan!')
		meta(property='og:type', content='website')
		meta(property='og:title', content='')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:description', content='')
		<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="fav/manifest.json">
		<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="POW! WOW!">
		<meta name="application-name" content="POW! WOW!">
		<meta name="theme-color" content="#ffffff">
		script(src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyC_kLitJTrG9CrohPBaoPDu15qjBu7F1Lg")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script(src='js/foundation.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		script(src='js/classie.js')
		script(src='js/selectFx.js')
		script(src='js/particles.js')
		script(src='js/waterfall-light.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js")
		script(src='js/maplace.js')
		script(src='js/markerclusterer.js')
		link(rel='stylesheet', href='font/aller.css')
		link(rel='stylesheet', href='css/foundation.css')
		link(rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/styles.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,300', rel='stylesheet', type='text/css')
		script.
			function goToByScroll(id){
				id = id.replace("link", "");
				$('html,body').animate({
					scrollTop: $("#"+id).offset().top - 50},
				'slow');
			}
			function redirectPage() {
				window.location = linkLocation;
			}
			$(window).load(function(){
				$('.loader').fadeOut(500);
				$('.loader-bg').fadeOut(1000);

			});
			$(document).ready(function() {
			 	$('body').fadeIn(1000);
			 
			    $(".linkFade").click(function(event){
			        event.preventDefault();
			        linkLocation = this.href;
			        $("body").fadeOut(1000, redirectPage);      
			    });
			         
			    
				$(document).foundation();
				$('.lines-button').click(function(e) {
					e.preventDefault();
					$('.lines-button').toggleClass('close');
					var open = $('.screen-menu').hasClass('sm-overlay-open');
					if(open) {
						$('.screen-menu').removeClass('sm-overlay-open');
						$('body').css({'overflow-y': 'auto'});
						$('.header').find('.menu-button').show();
					} else {
						$('.screen-menu').addClass('sm-overlay-open');
						$('body').css({'overflow-y': 'hidden'});
						$('.header').find('.menu-button').hide();
					}
				});
				
				$(window).scroll(function(){
					if ($(this).scrollTop() > 50) {
						$('.back-to-top').addClass('back-top-show');
					} else if($('.back-to-top').hasClass('back-top-show')) {
						$('.back-to-top').addClass('back-top-hide').removeClass('back-top-show');
						window.setTimeout(function(){
							$('.back-to-top').removeClass('back-top-hide');
						}, 100);
					} else {
						$('.back-to-top').removeClass('back-top-show');
					}
				});
				$('.back-to-top').click(function(){
					$("html, body").animate({ scrollTop: 0 }, 500);
					return false;
				});

				particlesJS("particles-js", {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":1600}},"color":{"value":"#000000"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.3,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":1,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#000000","opacity":0.3,"width":1},"move":{"enable":true,"speed":1,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":true,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"grab"},"onclick":{"enable":false,"mode":"push"},"resize":true},"modes":{"grab":{"distance":100,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});

				$('.ripple').on('click', function (event) {
					var $div = $('<div/>'),
					btnOffset = $(this).offset(),
					xPos = event.pageX - btnOffset.left,
					yPos = event.pageY - btnOffset.top;

					if ($(window).width() > 641) {
						$div.addClass('ripple-effect');
						var $ripple = $(".ripple-effect");

						$ripple.css("height", $(this).height());
						$ripple.css("width", $(this).height());
						$div
						.css({
							top: yPos - ($ripple.height()/2),
							left: xPos - ($ripple.width()/2),
							background: $(this).data("ripple-color")
						}) 
						.appendTo($(this));

					} 
					window.setTimeout(function(){
						$div.fadeOut('normal', function(){
							$(this).remove();
						});
					}, 500);
				});
				function videoResize() {
					var videoHeight = $(".video-wrap iframe").width();
					$(".video-wrap iframe").attr("width", "100%");
					$(".video-wrap iframe").attr("height", videoHeight / 1.778);
				}
				videoResize();
				$(window).resize(function(){
					videoResize();
				});	

				$('.artist-gallery').hover(function(){
					$('.artist-gallery').not(this).css('opacity', '0.4');
				}, function(){
					$('.artist-gallery').not(this).css('opacity', '1');
				});
				
				

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el){	
					new SelectFx(el);
				});  
				var maplace = new Maplace({
					map_div: '#gmap',
					controls_div: '#controls-mixed',
					controls_type: 'list',
					controls_on_map: false,
					map_options : {
						scrollwheel : false
					}
				});

				$('#location-tabs a').click(function(e) {
					e.preventDefault();
					var index = $(this).attr('data-load');
					showGroup(index);
				});


				function showGroup(index) {
					var el = $('#g'+index);
					$('#location-tabs li').removeClass('active');
					$(el).parent().addClass('active');
					$.getJSON('js/mural.php', { type: index }, function(data) {
						//loads data into the map
						maplace.Load({
							locations: data.locations,
							view_all: false,
							type: data.type,
							force_generate_controls: true
						});
					});
				}

				showGroup(0);
				function initialize() {
					var center = new google.maps.LatLng(51.5074, 0.1278);

					var map = new google.maps.Map(document.getElementByClassName('canvas_map'), {
						zoom: 3,
						center: center,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					var markers = [];
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(51.5074, 0.1278)
					});
					markers.push(marker);

					var options = {
						imagePath: 'img/m',
						girdSize: 80
					};

					var markerCluster = new MarkerClusterer(map, markers, options);
				}
			});
	body
		.loader-bg
			.spinner
				.bounce1
				.bounce2
				.bounce3
		.wrapper
			include component/header.jade
			.content.padding-column
				#particles-js
				.mural-img
					img(src="img/madsteez-mural.jpg")
				.mural-des
					
				p.index-title.small-title.divided-title location
				.map-embed.ratio-hack.clearfix
					.control-wrap
						//- ul#location-tabs.tabs
						//- 	- var item = ['台北']
						//- 		- for (var i=0; i<3; i++)
						//- 			li: a(href="javascript:void(0)", data-load=i, id="g" + i, title=item[i])=item[i]
						//- #controls-mixed
					#gmap
				.section-divider
				p.index-title.small-title.divided-title Related Murals
				.row.related-block.artists-content-block
					each item in ['case', 'huatunan', 'nychos']
						.medium-4.small-12.columns.index-artist-block
							a
								.ratio-hack
									div.i-artist-thumb(style="background-image: url(img/"+item+".jpg);")
										div.i-artist-overlay
										p=item
				.prev-next-pagi
					.row
						.small-4.columns
							p Previous Mural
							a.prev-underline
								i.fa.fa-angle-left(aria-hidden="true")
								span ANO Mural
						.small-4.columns.center-top
							a.center-underline Back To Murals
						.small-4.columns
							p Next Mural
							a.next-underline
								span Jeff Soto Mural
								i.fa.fa-angle-right(aria-hidden="true")
			include component/footer.jade
			a.back-to-top.ripple(href="#") TOP