extend layouts/index-layout.jade

block page-title
	p pow wows

block sponsor-title
	p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block content-title
	h1.content-title pow wows

block main-content
	.general-information
		p We are inspired by Native American Pow Wows. Below is more information.

		p.nobreak Pow Wows are the Native American people’s way of meeting together, to join in dancing, singing, visiting, renewing old friendships, and making new ones. 
		p This is a time method to renew Native American culture and preserve the rich heritage of American Indians.

		p There are several different stories of how the pow wow was started. Some believe that the War dance Societies of the Ponca and other Southern Plains Tribes were the origin of the pow wow.

		p Pow wow singers are very important figures in the Native American culture. Without them there would be no dancing. The songs are of many varieties, from religious to war to social.

		p As various tribes gathered together, they would share their songs, often changing the songs so singers of different tribes could join. With these changes came the use of “vocables” to replace the words of the old songs. Thus, some songs today are sung in “vocables” with no words.

		p Yet they still hold special meaning to those who know the song. Many songs are still sung in Native American Languages either newly composed or revivals of old songs. These songs are reminders to the Indian people of their old ways and rich heritage.

		p Dances have always been a very important part of the life of the American Indian. Most dances seen at pow wows today are social dances which might have had different meanings in earlier days. Although dance styles and content have changed, their meaning and importance has not. The outfits worn by the dancers, like the styles of clothing today evolve over time, it is not a stagnant culture, but a vibrant and changing way of life.

		p Gathering of Nations Pow wows are organized by committees that work for weeks before the event. At the pow wow, the MC runs the events. The MC works with the Arena Director to keep the pow wow organized and running smoothly. These two individuals along with the committee work hard to bring the people together to dance and fellowship together in the circle.

		p Learn more about Native American Pow Wows at <a href="http://www.powwows.com/" class="bold italic" targer="_blank">www.powwows.com</a>.