extend layouts/index-layout.jade

block header
	include component/header.jade

block page-title
	p pow! wow! participants

block sponsor-title
	.page-title
		p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block main-content
	.filter-wrap
		.filter-outer-box
			span.filter-label Filter
			.filter-box
				select.cs-select.filter-select.cs-skin-underline
					option(selected, disabled) Choose Type
					- var list = [{position: 'None', value: 'none'}, {position: 'Artist', value: 'artist'}, {position: 'Musicians', value: 'musician'}, {position: 'Partners', value: 'partners'}, {position: 'Photographers', value: 'photographers'}, {position: 'Videographers', value: 'videographers'}, {position: 'Writers', value: 'writers'}]
						each item in list
							option(value=item.value)=item.position
			.filter-box
				select.cs-select.filter-select.cs-skin-underline
					option(selected, disabled) Choose Event
					- var list = [{position: 'None', value: 'none'}, {position: '2010 Hong-kong', value: '2011 hk'}, {position: '2011 Hawaii', value: '2011 hawaii'}, {position: '2012 Hawaii', value: '2012 hawaii'}, {position: '2013 Hawaii', value: '2013 hawaii'}, {position: '2014 Hawaii', value: '2014 hawaii'}, {position: '2014 Taiwan', value: '2014 taiwan'}, {position: '2015 Hawaii', value: '2015 hawaii'}, {position: '2015 Taiwan', value: '2015 taiwan'}, {position: '2015 Japan', value: '2015 japan'}, {position: '2015 Long Beach', value: '2015 long beach'}, {position: '2015 SXSW', value: '2015 sxsw'}, {position: '2016 Antelope Valley', value: '2016 antelope valley'}, {position: '2016 Hawaii', value: '2016 hawaii'}, {position: '2016 Japan', value: '2016 japan'}, {position: '2016 Long Beach', value: '2016 long beach'}, {position: '2016 SXSW', value: '2016 sxsw'}, {position: '2016 Washington DC', value: '2016 washington dc'}, {position: '2016 Worcester', value: '2016 worcester'}, {position: '2017 Hawaii', value: '2017 hawaii'}]
						each item in list
							option(value=item.value)=item.position
							
		.filter-submit 
			button APPLY
	.grid-wrapper
		.row
			- var list = [{name: 'Tara McPherson', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_tara.jpg'}, {name: 'Shok-1', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_shok1.jpg'}, {name: 'Pichiavo', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_pichiavo.jpg'}, {name: 'Joram Roukes', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_joram.jpg'}, {name: 'Evoca', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_evoca.jpg'}, {name: 'Ouizi', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_ouizi.jpg'}, {name: 'Oakoak', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_oakoak.jpg'}, {name: 'Glazed Paradise', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_glazedparadise.jpg'}, {name: 'Dan Witz', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_danwitz.jpg'}, {name: 'Michelle Tanguay', page: 'tara-mcpherson.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/thumb_tanguay.jpg'}]
				each item in list
					.large-3.medium-6.small-12.column.grid-block.end
						a(href=item.page)
							.grid-image(style='background-image: url('+item.image+')')
							.grid-overlay
								p=item.name
