extend layouts/index-layout.jade

block header
	include component/header.jade

block page-title
	p pow! wow! school of music

block sponsor-title
	p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block main-content
	.info-text-wrapper
		.mural-image
			img(src="http://powwowhawaii.com/wp-content/uploads/2013/04/pw_musicschool_03.jpg")
		.one-column-description
			h2 Pow! Wow! School of Music
			p Partnering with Flexfit, the POW! WOW! SCHOOL OF MUSIC is a special program focused on music education for our community’s youth. POW! WOW! SCHOOL OF MUSIC will provide unique learning opportunities for a select group of local musicians between the ages of 13-18. These young musicians will be able to participate in classes on composition, vocals, percussion, guitar, ukulele, keyboard, bass, recording, performance and the music business with local and national musicians, teachers and music industry professionals. The students will also have the opportunity to collaborate with each other and create original music and perform at POW WOW Hawaii’s closing night festivities. For more info, go to <a href="http://www.pwsom.com/" target="_blank">www.pwsom.com</a>.
