doctype html
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Pow! Wow! Taiwan!
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:site_name', content='Pow! Wow! Taiwan!')
		meta(property='og:type', content='website')
		meta(property='og:title', content='')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='og:description', content='')
		<link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="fav/manifest.json">
		<link rel="mask-icon" href="fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="apple-mobile-web-app-title" content="POW! WOW!">
		<meta name="application-name" content="POW! WOW!">
		<meta name="theme-color" content="#ffffff">
		link(rel='stylesheet', href='font/aller.css')
		link(rel='stylesheet', href='css/foundation.css')
		link(rel='stylesheet', href='css/materialize.css')
		link(rel='stylesheet', href='css/lightbox.css')
		link(rel='stylesheet', href='css/font-awesome.css')
		link(rel='stylesheet', href='css/timeliner.css')
		link(rel='stylesheet', href='css/styles.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,300', rel='stylesheet', type='text/css')
		script(src='js/jquery.min.js')
		script(src='js/materialize.js')
		script(src='js/foundation.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/classie.js')
		script(src='js/selectFx.js')
		script(src='js/particles.js')
		script(src='js/scrollTo.js')
		script(src='js/barba.min.js')
		script(src='js/jquery.grid-a-licious.js')
		script(src='js/timeliner.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js")
		script.
			function goToByScroll(id){
				id = id.replace("link", "");
				$('html,body').animate({
					scrollTop: $("#"+id).offset().top - 50},
				'slow');
			}
			function redirectPage() {
				window.location = linkLocation;
			}
			$(window).load(function(){
				$('.loader').fadeOut(500);
				$('.loader-bg').fadeOut(1000);

			});
			$(document).ready(function() {
			 	$('body').fadeIn(1000);
			 	$(".linkFade").click(function(event){
			        event.preventDefault();
			        linkLocation = this.href;
			        $("body").fadeOut(1000, redirectPage);      
			    });
				$(document).foundation();
				$('.lines-button').click(function(e) {
					e.preventDefault();
					$('.lines-button').toggleClass('close');
					var open = $('.screen-menu').hasClass('sm-overlay-open');
					if(open) {
						$('.screen-menu').removeClass('sm-overlay-open');
						$('body').css({'overflow-y': 'auto'});
						$('.header').find('.menu-button').show();
					} else {
						$('.screen-menu').addClass('sm-overlay-open');
						$('body').css({'overflow-y': 'hidden'});
						$('.header').find('.menu-button').hide();
					}
				});
				
				$(window).scroll(function(){
					if ($(this).scrollTop() > 50) {
						$('.back-to-top').addClass('back-top-show');
					} else if($('.back-to-top').hasClass('back-top-show')) {
						$('.back-to-top').addClass('back-top-hide').removeClass('back-top-show');
						window.setTimeout(function(){
							$('.back-to-top').removeClass('back-top-hide');
						}, 100);
					} else {
						$('.back-to-top').removeClass('back-top-show');
					}
				});
				$('.back-to-top').click(function(){
					$("html, body").animate({ scrollTop: 0 }, 500);
					return false;
				});
				$('.ripple').on('click', function (event) {
					var $div = $('<div/>'),
					btnOffset = $(this).offset(),
					xPos = event.pageX - btnOffset.left,
					yPos = event.pageY - btnOffset.top;

					if ($(window).width() > 641) {
						$div.addClass('ripple-effect');
						var $ripple = $(".ripple-effect");

						$ripple.css("height", $(this).height());
						$ripple.css("width", $(this).height());
						$div
						.css({
							top: yPos - ($ripple.height()/2),
							left: xPos - ($ripple.width()/2),
							background: $(this).data("ripple-color")
						}) 
						.appendTo($(this));

					} 
					window.setTimeout(function(){
						$div.fadeOut('normal', function(){
							$(this).remove();
						});
					}, 500);
				});
				$('.item').hover(function(){
					$('.item').not(this).css('opacity', '0.4');
				}, function(){
					$('.item').not(this).css('opacity', '1');
				});
				$.timeliner({
					baseSpeed: 300,
					speed: 1
				});
				$.fn.is_on_screen = function(){
					var win = $(window);
					var viewport = {
						top : win.scrollTop(),
						left : win.scrollLeft()
					};
					viewport.right = viewport.left + win.width();
					viewport.bottom = viewport.top + win.height();

					var bounds = this.offset();
					bounds.right = bounds.left + this.outerWidth();
					bounds.bottom = bounds.top + this.outerHeight();

					return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
				};
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el){	
					new SelectFx(el);
				}); 
				$('.mural-container').gridalicious({
					selector: '.item',
					width: 400
				});
				
			
			});
	body
		.loader-bg
			.spinner
				.bounce1
				.bounce2
				.bounce3
		.wrapper
			include component/header.jade
			.content
				a#content(href="#")
				.content.p-bottom-50#barba-wrapper
					.barba-container
						#particles-js
						a.prev-underline.back-panel.event-back(href="javascript: history.go(-1)")
							i.fa.fa-angle-left(aria-hidden="true")
							span Back To Projects
						.event-des
							p.index-title.small-title RVCA X POW! WOW!: THE POD EXHIBITION
							p.padding-column On February 13th, 2015 POW! WOW! and RVCA held an exhibition at the Modern Honolulu, curated by PM Tenore. The visitors had a chance to see the collection of surfboards that surfing superstar Kelly Slater and RVCA artist Kevin Ancell collaborated on.<br><br>This idea initially came into focus after watching the movie Blackfish and seeing the wild captures, captive breeding and sad life of majestic Orcas in marine mammal parks. The whole experience inspired Slater to paint his boards to mimic Orcas markings and help raise awareness about the issue through it. After discussing this idea with Ancell they came up with an idea to paint the boards using tags, and in particular the infamous DFW tag. The boards created through this project are used as plaques to honor the people and whales that are affected with this issue and inspire others to join the #FreeTheFuckingWhales initiative.
						//- p.index-title.small-title Timeline
						//- #timeline.timeline-container
							.timeline-wrapper
								h2.timeline-time 2016 Feb 28 
								dl.timeline-series
									dt.timeline-event#event01
										a Stranded in Paradise Concert!
									dd.timeline-event-content#event01EX
										p.bold The “Stranded in Paradise” lineup included:
										p - The Green
										p - DJ Babu and Rakaa Iriscience of Dilated Peoples
										p - Eli Mac and Likkle Mai
										p - Taimane Gardner
										p - Cipha Sounds
										p - POW! WOW! School of Music
										p - Secret Walls
							.timeline-wrapper
								h2.timeline-time 2016 Feb 28  18:00
								dl.timeline-series
									dt.timeline-event#event02
										a Stranded in Paradise Concert Starts!
									dd.timeline-event-content#event02EX
										p Concert officially starts.
							.timeline-wrapper
								h2.timeline-time 2016 Feb 28  22:00
								dl.timeline-series
									dt.timeline-event#event03
										a Stranded in Paradise Concert Ends!
									dd.timeline-event-content#event03EX
										p Concert ends.
							button.timeline-toggle + expand all
							.clearfix
						p.index-title.small-title Gallery
						div.artists-content-block
							.mural-container
								- var list = [{ name : "The hundred-pacer snake is the spirit animal of the Bunun Tribe", author : "Alexface Mural", data : "paradise1" }, { name : "Bounce and ANO doing great things that are powered by surface", author : "ANO & Bounce Mural", data : "paradise2" }, { name : "Finished mural by Ben Horton at Huashan Cultural Park", author : "Ben Horton Mural", data : "paradise3"},{ name : "Finished mural at Visavisjing hair salon in Taipei by Case Maclaim", author : "Case Maclaim Mural", data : "paradise4"}, { name : "Finished mural by Dragon76", author : "Dragon76 Mural", data : "paradise5"}, { name : "\"My hands and your heart exist only in a frame of understanding particular to ones own illusion\"", author : "Faith 47 Mural", data : "paradise6"}, { name : "Huatunan brings the tiger down from the mountains", author : "Huatunan Mural", data : "paradise7"}, { name : "Renewal of Life", author : "Jeff Soto Mural", data : "paradise8"}, { name : "Nychos in a blink of an eye", author : "Nychos Mural", data : "paradise9"}, { name : "Part of a series of Tainan Hai'An Road murals from POW! WOW! Taiwan's \"Tainan Station Block Party\" with Tainan Deptartment of Culture", author : "Mr. Ogay Mural", data : "paradise10"}, { name : "Omen + Satr + Creepymouse1 at Blueprint Cultural Park in Tainan", author : "Omen & Satr & Creepymouse1 Mural", data : "paradise11"}]
										each item in list
											.item
												a(href="img/"+item.data+".jpg", data-lightbox="lightbox").no-barba.zoomicon
													img(src="img/"+item.data+".jpg", data-caption=item.name)
												.card-bg-fix
							.clearfix
					
			include component/footer.jade
			//- a.back-to-top.ripple(href="#") TOP
	script(src='js/lightbox.js')
	script.
		lightbox.option({
				'fadeDuration': 300,
				'resizeDuration': 300
			});