extend layouts/index-layout.jade

block header
	include component/header.jade

block page-title
	p Pow! Wow! Schedule

block sponsor-title
	p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block content-title
	h1.content-title pow! wow! worldwide schedule

block main-content
	.schedule-wrapper
		.schedule-block.row.small-up-2.medium-up-3.large-up-5.collapse
			- var list = [{page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2017/03/CU4B1120.jpg', date: 'Feburary', title: 'POW! WOW! HAWAII'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/03/day5_esao.jpg', date: 'March', title: 'POW! WOW! SXSW'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/07/Persue-Yok-Sheryo-5-26-FS-1.jpg', date: 'May', title: 'POW! WOW! DC'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/07/20160711-DSC02621.jpg', date: 'July', title: 'POW! WOW! LONG BEACH'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/08/MeggsFinishedCanvas1.jpg', date: 'August', title: 'POW! WOW! ANTELOPE VALLEY'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/09/Marka_27_SK_Worcester_2016_0230.jpg', date: 'August', title: 'POW! WOW! WORCESTER'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/03/DSC05494.jpg', date: 'October', title: 'POW! WOW! JAPAN'}, {page: 'hawaii-schedule.html', bg: 'http://powwowhawaii.com/wp-content/uploads/2016/03/DSC09434-Edit.jpg', date: 'November', title: 'POW! WOW! TAIWAN'}]
				each item in list
					.schedule-grid.column.end(style='background-image: url("' + item.bg + '");')
						a(href=item.page)
							.grid-overlay
								p.schedule-date=item.date
								p.schedule-city=item.title
					
