extend layouts/index-layout.jade

block header
	include component/taiwan-header.jade

block page-title
	p pow! wow! taiwan murals

block sponsor-title
	.page-title
		p taiwan sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block main-content
	#map

block second-content
	.filter-wrap
		.filter-outer-box
			span.filter-label Filter
			.filter-box
				select.cs-select.filter-select.cs-skin-underline
					option(selected, disabled) Choose Location
					- var list = [{position: 'None', value: 'none'}, {position: 'Taipei', value: 'taipei'}, {position: 'Taichung', value: 'taichung'}, {position: 'Tainan', value: 'tainan'}, {position: 'Kaoshung', value: 'kaoshung'}]
						each item in list
							option(value=item.value)=item.position
		.filter-submit 
			button APPLY
	.grid-wrapper
		.row
			- var list = [{name: 'Luise Ono Wall in Ximen', page: 'luise-ono-ximen-mural.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/luiseone_ximen.jpg'}, {name: 'Bounce Wall in Ximen', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/bounce_01_ximen.jpg'}, {name: 'Candybird Wall in Taichung', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/CandyBird.jpg'}, {name: 'Girenhao Wall in Wei Wu Ying', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Girenhao-2.jpg'}, {name: 'Danae Wall in Wei Wu Ying', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Danae-2_Byaserktw.jpg'}, {name: 'Bao Wall in Tainan', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/bao_tainan.jpg'}, {name: 'Taiwan Festival Canvas', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Final_FLEKSONE_bySean-Marc-Lee.jpg'}, {name: 'Taiwan Festival Canvas', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Final_DEBE_MROGAY_bySean-Marc-Lee.jpg'}, {name: 'Taiwan Festival Canvas', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Final_Black_bySean-Marc-Lee.jpg'}, {name: 'Taiwan Festival Canvas', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Final_SATR_bySean-Marc-Lee.jpg'}]
				each item in list
					.large-3.medium-6.small-12.column.grid-block.end
						a(href=item.page)
							.grid-image(style='background-image: url('+item.image+')')
							.grid-overlay
								p=item.name

block script
	script.
		function myMap() {
			var myLoc = new google.maps.LatLng(51.5074, 0.1278);

			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 2,
				center: myLoc
			});
			var contentString = "<div class='info-box'><p><a href='#'>Ano</a></p><img src='img/mock/ano.jpg'></div>";
			var infoWindow = new google.maps.InfoWindow({
				content: contentString,
				maxWidth: 500
			});
			var marker = new google.maps.Marker({
				position: myLoc,
				map: map,
				title: 'Ano'
			});
			google.maps.event.addListener(marker, 'click', function(){
				infoWindow.open(map,marker);
			});
			google.maps.event.addListener(map, 'click', function(){
				infoWindow.close();
			});
			google.maps.event.addDomListener(infoWindow, 'close', function(){
				google.maps.event.trigger(map, 'close');
				var center = map.getCenter();
				map.setCenter(center);
			});
			google.maps.event.addDomListener(window, 'resize', function(){
				var center = map.getCenter();
				google.maps.event.trigger(map, 'resize');
				map.setCenter(center);
			});
		}
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_kLitJTrG9CrohPBaoPDu15qjBu7F1Lg&callback=myMap")