extend layouts/index-layout.jade

block header
	include component/header.jade

block page-title
	p pow! wow! videos

block sponsor-title
	.page-title
		p worldwide sponsors

block sponsor-brand
	span: img(src="img/sp-montana-logo.png")
	span: img(src="img/sp-hawaiian-airline-logo.png")
	span: img(src="img/sp-monster-logo.png")
	span: img(src="img/sp-olukai-logo.png")
	span: img(src="img/sp-eptm-logo.png")
	span: img(src="img/sp-thinkspace-logo.png")
	span: img(src="img/sp-1xrun-logo.png")

block second-content
	.grid-wrapper
		.row
			- var list = [{name: 'POW! WOW! HAWAII 2017 OFFICIAL VIDEO', page: 'powwow-hawaii-2017-video.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/pw2017video_thumb.jpg'}, {name: 'POW! WOW! HAWAII 2017 FINALE CONCERT WITH STEVE AOKI', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/pwconcert_thumb.jpg'}, {name: 'POW! WOW! JAPAN 2016 OFFICIAL VIDEO', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/pwj_o_video_thumb.jpg'}, {name: 'POW! WOW! IN KOBE VIDEO', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/pwj_video_thumb.jpg'}, {name: 'POW! WOW! WORCESTER 2016 VIDEO', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2016/10/pww_thumb.jpg'}, {name: 'Imprint Presents: Jeff Staple 1-2-1 with Sean “HULA” Yoro', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/hula_talk_thumb.jpg'}, {name: 'Taiwan Festival Canvas', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/03/Final_FLEKSONE_bySean-Marc-Lee.jpg'}, {name: 'TImprint Presents: Ernest Zacharevic and Martha Cooper Talk', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2017/01/maekan_thumb.jpg'}, {name: 'POW! WOW! LONG BEACH 2016 VIDEO', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2016/09/lb_thumb.jpg'}, {name: 'POW! WOW! LONG BEACH THROUGH THE EYES OF JORDAN AHERN', page: 'powwow-taiwan.html', image: 'http://powwowhawaii.com/wp-content/uploads/2016/08/thumb_ahern.jpg'}]
				each item in list
					.large-3.medium-6.small-12.column.grid-block.end
						a(href=item.page)
							.grid-image(style='background-image: url('+item.image+')')
							.grid-overlay
								p=item.name