.footer
	.footer-block.row
		.medium-3.small-12.columns
			.footer-logo
				a: img(src="img/powwowlogo.png")
				p Copyright © 2016 All Rights Reserved 
				p POW! WOW! TAIWAN!
		.medium-6.small-12.columns.footer-nav-block
			.footer-nav
				- var list = [{ name : 'Home', data : 'index.html'}, { name : 'Murals', data : 'mural-list.html' },{ name : 'Festivals', data : 'festival-list.html' },{ name : 'Participants', data : 'participants.html'}, { name : 'Location', data : 'location.html' },{ name : 'About', data : '#' }]
						each item in list
							div: a(href=item.data).linkFade=item.name
			//- .footer-nav
			//- 	- var list = []
			//- 			each item in list
			//- 				div: a(href=item.data).linkFade=item.name
		.medium-3.small-12.columns
			.footer-social
				p.footer-title SOCIAL
				.footer-nav
					- var list = [{ name : 'Facebook', data : 'https://www.facebook.com/PowWowHawaii/'}, { name : 'Instagram', data : 'https://www.instagram.com/powwowworldwide/' }]
							each item in list
								div: a(href=item.data).linkFade=item.name