.footer
	.footer-block
		.footer-logo
			a: img(src="img/powwowlogo-vertical.png")
			div
				p Copyright © 2016 All Rights Reserved 
				p POW! WOW! TAIWAN!
		.footer-social
			div
				p CONNECT WITH POW! WOW!
			div
				a(href="https://twitter.com/powwowworldwide")
					i.fa.fa-twitter.fa-lg(aria-hidden="true")
				a(href="https://www.facebook.com/PowWowHawaii")
					i.fa.fa-facebook-official.fa-lg(aria-hidden="true")
				a(href="https://vimeo.com/powwowhawaii")
					i.fa.fa-vimeo.fa-lg(aria-hidden="true")
				a(href="http://powwowblog.tumblr.com/")
					i.fa.fa-tumblr-square.fa-lg(aria-hidden="true")
		