a.prev-underline.back-panel(href="mural-list.html")
	i.fa.fa-angle-left(aria-hidden="true")
	span Back To Murals
.filter-wrap.top-150
	.filter-outer-box
		span.filter-label Location
		.filter-box
			select.cs-select.filter-select.cs-skin-underline
				option(selected, disabled) Choose Location
				option(value="taipei") Taipei
				option(value="taichung") Taichung
				option(value="tainan") Tainan
	.filter-outer-box
		span.filter-label Arrange
		.arrange-box
			select.cs-select.filter-select.cs-skin-underline
				option(selected, disabled) Choose Filter
				option(value="newest") Newest
				option(value="oldest") Oldest
	.filter-submit.mural-submit
		button APPLY
div.artists-content-block
	.mural-container
		- var list = [{ name : "Cara To AKA 'Caratoes' is an illustrator and street artist based in Hong Kong.", author : "Caratoes", data : "wall1" }, { name : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis.", author : "DEBE", data : "wall2" },{ name : "ANO Started practicing graffiti art in 1999 on the streets, often using pixels as his basic element of design. Proficient in various graffiti techniques, Ano has often collaborated with television advertising and well-known brands doing performances for Rolex, NIKE, Adidas,Puma ,Converse, Royal Elastics, ASUS, and more. ", author : "ANO", data : "wall3" },{ name : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque.Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.", author : "Girenhao", data : "wall4" },{ name : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.", author : "Alexface", data : "wall5" },{ name : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.", author : "Colasa", data : "wall1" }]
				each item in list
					.item
						a(href="mural.html").no-barba.linkFade
							img(src="img/"+item.data+".jpg", data-caption=item.name)
							p.author-name=item.author
							p=item.name
						.card-bg-fix
	.clearfix