@media only screen and (min-width: 1600px) {
	
}
@media only screen and (max-width: 1281px) {
	
}

@media only screen and (max-width: 1024px) {

	
	
}

@media only screen and (max-width: 860px) {
	
	.lang-select-box {
		max-width: 60px;
	}
}

@media only screen and (max-width: 768px) {
	.header .header-logo {
		width: 100%;
		text-align: center;
		margin: 20px 0 0 0;
		img {
			width: 150px;
		}
	}
	.header-nav {
		display: none;
	}
	.header .header-menu {
		display: block;
	}
	.lang-box-wrapper {
		right: 80px;
	}
	#map {
		min-height: 300px;
	}
	.info-text-wrapper .info-block {
		width: 100%;
	}
	.left-column {
		float: none;
		max-width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	
	.search-textfield {
		height: 30px;
		background-size: 29px 29px;
		font-size: 30px;
		&:focus {
			width: 90%;
			background-size: 29px 29px;
		}
	}
	
	.footer {
		.row {
			text-align: center;
		}
		.footer-logo {
			img {
				max-width: 100px;
			}
		}
		.footer-nav-block {
			padding: 15px 0;
		}
		.footer-nav {
			padding-right: 0;
			padding: 0 0.9375em;
		}
		.footer-title {
			padding-left: 0;
		}
	}
	.lang-select-box {
		padding: 0;
		text-align: center;
	}
	.news-block .news-description-block, .news-block .news-image {
		display: block;
		width: 100%;
	}
	.news-block .news-image {
		max-width: 400px;
		margin: 0 auto;
	}
	.news-block .news-description-block {
		margin-left: 0;
		margin-top: 20px;
	}
	.contact-wrapper {
		.contact-left, .contact-right {
			width: 100%;
			display: block;
		}
		.contact-left {
			text-align: center;
			h2 {
				font-size: 3em;
			}
		}		
	}
	.event-title-wrap .event-title p {
		font-size: 0.75em;
	}
}
@media only screen and (max-width: 480px) {
	
	.search-textfield {
		height: 25px;
		background-size: 24px 24px;
		font-size: 24px;
		&:focus {
			background-size: 24px 24px;
		}
	}
	.cs-select span {
		font-size: 1em;
	}
	#map {
		min-height: 200px;
	}
	.directors-list .directors, .directors-list .regional-directors {
		width: 100%;
	}
}
@media only screen and (max-width: 520px) {
	.filter-box, .arrange-box {
		margin-bottom: 20px;
	}
	
}
@media only screen and (max-width: 400px) {
	.content .content-title {
		font-size: 2em;
	}
	.filter-box, .arrange-box {
		margin-bottom: 20px;
	}
	
}
@media only screen and (max-width : 320px) {

    * {
        max-width: 300px;
    }

}