.artist-des {
	margin-bottom: 30px;
	img {
		width: 100%;
		max-width: 300px;
		display: inline-block;
	}
	.artist-des-right-col {
		display: inline-block;
		width: calc(100% - 340px);
		width: -webkit-calc(100% - 340px);
		width: -moz-calc(100% - 340px);
		width: -o-calc(100% - 340px);
		vertical-align: top;
		padding-left: 35px;
		p {
			font-size: 1.5em;
		}
		.artist-social {
			padding-top: 10px;
			a {
				display: inline-block;
				font-size: 1.25em;
				margin-right: 20px;
				margin-bottom: 10px;
				@include transition(all .3s ease);
				i {
					font-family: 'FontAwesome';
					margin-right: 5px;
				}
				&:hover {
					color: #333;
				}
			}
			
		}
	}
}

.artist-gallery {
	position: relative;
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	margin: 0 2px 15px;
	padding: 15px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	@include transition(all .3s ease);
	a {
		// display: inline-block;
		border: 1px solid #333;
		width: 100%;
		cursor: zoom-in;
		position: relative;
		z-index: 2;
		img {
			width: 100%;
		}
	}
	.borderless {
		border: none;
	}
	// &:hover {
	// 	box-shadow: 0 5px 10px rgba(34, 25, 25, 0.8);
	// }


}
.artist-video {
	margin-bottom: 50px;
}

.video-wrap iframe {
	@include aspect-ratio(16, 9);
}
.index-sec {
	h3 {
		text-align: center;
		margin: 60px 0 70px;
		font-weight: bold;
		text-transform: uppercase;
	}
}