.header {
	width: 100%;
	max-width: 1280px;
	background: white;
	margin: 0 auto;
	position: relative;
	@include clearfix;
	.header-logo {
		padding: 50px 0;
		width: 100%;
		text-align: center;
		img {
			width: 300px;
		}
	}
	.search-wrap {
		// margin: 0 auto 20px auto;
		a {
			display: block;
			background: url(../img/search-icon3.svg) center right no-repeat;
			background-size: 20px 20px;
		}
	}
	.header-nav {
		text-align: center;
		a {
			color: $darkGray;
			font-weight: bold;
			font-size: 1em;
			@include transition(all .3s);
			&:hover {
				color: white;
				background-color: $darkGray;
			}
		}
		a.searchBtn {
			&:hover {
				color: #333;
				background-color: transparent;
			}
		}
		.is-active {
			background-color: $darkGray;
			a {
				color: white;
			}
		}
		.submenu {
			text-align: left;
			z-index: 3;
			li a {
				font-weight: normal;
				color: $darkGray;
				&:hover {
					color: $black;
					background-color: $borderGray;
				}
			}
		}
	}
	.header-menu {
		position: absolute;
		top: 140px;
		left: 20px;
		display: none;
		div {
			display: inline-block;
		}
		.menu-button {
			display: block;
			padding-top: 5px;
		}
	}
	.header-mobile {
		margin-top: 20px;
		height: 0;
		overflow: hidden;
		a {
			color: $darkGray;
			@include transition(all .3s);
			&:hover {
				color: $black;
				&:after {
					border-color: $darkGray transparent transparent
				}
			}
			&:after {
				border-color: $darkGray transparent transparent
			}
		}
		.mobile-menu-title {
			font-weight: bold;
			font-size: 1.125em;
			text-transform: uppercase;
			padding: 1.5em 2em 1em 2em;
		}
		.mobile-menu-section {
			border-bottom: 1px solid $darkGray;
		}
		.submenu {
			a {
				padding: 1em 2.2em;
				border-top: 1px solid $borderGray;
			}
		}
	}
	.header-mobile-open {
		height: auto;

	}
}
