#timeline1.timeline-container
	.timeline-wrapper
		h2.timeline-time Thursday, Feburary 9th 7:30
		dl.timeline-series
			dt.timeline-event#event1
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/02/s_051.jpg")
						.event-title
							p STUDY HALL WITH THE POW! WOW! TEAM
			dd.timeline-event-content#event1EX
				div
					p Talk and press event with the Directors of POW! WOW! Located at the Modern Honolulu, 1775 Ala Moana Boulevard.
	.timeline-wrapper
		h2.timeline-time Saturday, Feburary 11th 6pm - 10pm
		dl.timeline-series
			dt.timeline-event#event2
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2012/01/s_hula.jpg")
						.event-title
							p OPENING BLOCK PARTY PRESENTED BY POW! WOW! AND THE HONOLULU NIGHT MARKET
			dd.timeline-event-content#event2EX
				div
					p Block party in Kaka'ako to celebrate the start of POW! WOW! Hawaii 2017. Music by DJ Cipha Sounds. Located on Cooke Street.
	.timeline-wrapper
		h2.timeline-time Saturday, Feburary 11th 10pm - 2am
		dl.timeline-series
			dt.timeline-event#event3
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2017/01/s_01.jpg")
						.event-title
							p AFTER PARTY PRESENTED BY POW! WOW! AND MONSTER ENERGY
			dd.timeline-event-content#event3EX
				div
					p After party for the opening block party. Music by DJ Cipha Sounds. Located at Artisty on 461 Cooke Street.
	.timeline-wrapper
		h2.timeline-time Sunday, Feburary 12th 5pm - 10pm
		dl.timeline-series
			dt.timeline-event#event4
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/01/s_slick.jpg")
						.event-title
							p THE 4TH ANNUAL ‘POW! WOW! EXPLORING THE NEW CONTEMPORARY MOVEMENT’
			dd.timeline-event-content#event4EX
				div
					p Curated by Andrew Hosner from Thinkspace Gallery. Located at the Honolulu Museum of Art School, 1111 Victoria Street. <a href="http://powwowhawaii.com/blog/4th-annual-pow-wow-exploring-new-contemporary-movement/">More information</a>.
	.timeline-wrapper
		h2.timeline-time Monday, Feburary 13th all day
		dl.timeline-series
			dt.timeline-event#event5
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/01/s_bsf.jpg")
						.event-title
							p MURAL PAINTING BEGINS
			dd.timeline-event-content#event5EX
				div
					p Artists paint murals and create installation all over Kaka'ako. Painting from February 13th to the 18th. See map for locations.
	.timeline-wrapper
		h2.timeline-time Tuesday, Feburary 14th 6pm - 10pm
		dl.timeline-series
			dt.timeline-event#event6
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/01/s_hem.jpg")
						.event-title
							p 5TH ANNUAL 1XRUN X POW! WOW! PRINT EXHIBITION
			dd.timeline-event-content#event6EX
				div
					p Limited edition print exhibition presented by 1xRun. Located at Lana Lane Studios, 327 Lana Lane.
	.timeline-wrapper
		h2.timeline-time Wednesday, Feburary 15th 7pm - 8pm
		dl.timeline-series
			dt.timeline-event#event7
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/01/s_lyons.jpg")
						.event-title
							p JEFF HAMADA OF BOOOOOOOM TALKS TO MR. JAGO
			dd.timeline-event-content#event7EX
				div
					p Jeff Hamada of Booooooom has an in-depth conversation with acclaimed artist, Mr. Jago. Held at the Kaka'ako Agora, 441 Cooke Street.
	.timeline-wrapper
		h2.timeline-time Thursday, Feburary 16th 7pm - 9pm
		dl.timeline-series
			dt.timeline-event#event8
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/02/s_banksy.jpg")
						.event-title
							p SAVING BANKSY” PREMIERE AND Q&A.
			dd.timeline-event-content#event8EX
				div
					p Premiere of the "Saving Banksy" documentary and a Q&A with the creators of the film. Located at Kaka’ako Agora, 441 Cooke Street. Hosted by OluKai.
	.timeline-wrapper
		h2.timeline-time Friday, Feburary 17th 6pm - late
		dl.timeline-series
			dt.timeline-event#event9
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/02/s_09.jpg")
						.event-title
							p ART TO THE PITCH
			dd.timeline-event-content#event9EX
				div
					p “Art to the Pitch” an art inspired soccer match by Kicks to the Pitch, Paradise Soccer Club and participating POW! WOW! artists. Located at Wade Warehouse, 449 Cooke Street.
	.timeline-wrapper
		h2.timeline-time Friday, Feburary 17th 6pm - 11pm
		dl.timeline-series
			dt.timeline-event#event10
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/02/s_09.jpg")
						.event-title
							p SHADOW STYLES ANNUAL BREAKIN EVENT
			dd.timeline-event-content#event10EX
				div
					p A break dance battle with the UDEF crew. Located at the Kaka’ako Agora, 441 Cooke Street.
	.timeline-wrapper
		h2.timeline-time Saturday, Feburary 18th 4pm - 9pm
		dl.timeline-series
			dt.timeline-event#event11
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/02/s_071.jpg")
						.event-title
							p HAWAIIAN MUSIC SHOWCASE
			dd.timeline-event-content#event11EX
				div
					p A showcase of some of the greatest Hawaiian musicians. Located at 1011 Ala Moana Boulevard.
	.timeline-wrapper
		h2.timeline-time Saturday, Feburary 18th 5pm - 11pm
		dl.timeline-series
			dt.timeline-event#event12
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2013/02/s_071.jpg")
						.event-title
							p ELECTRIC PALMS, DIM MAK, AND POW! WOW! PRESENTS THE DIM MAK 20TH ANNIVERSARY TOUR WITH STEVE AOKI
			dd.timeline-event-content#event12EX
				div
					p Electric Palms, DIM MAK, and POW! WOW! presents the DIM MAK 20th Anniversary Tour with Steve Aoki, ILoveMakonnen, Autoerotique, Max Styler, and Special Guests. <a href="http://www.bampproject.com/steve-aoki-oahu/">Get your tickets here</a>.
	.timeline-wrapper
		h2.timeline-time Saturday, Feburary 18th 11pm - 2am
		dl.timeline-series
			dt.timeline-event#event13
				a
					.event-title-wrap
						.event-image
							img(src="http://powwowhawaii.com/wp-content/uploads/2017/01/s_02.jpg")
						.event-title
							p POW! WOW! AFTER PARTY
			dd.timeline-event-content#event13EX
				div
					p POW! WOW! after party at the Addiction in the Modern Honolulu. Located at 1775 Ala Moana Blvd.
	button.timeline-toggle + expand all
	.clearfix