textarea {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	min-height: 0;
}
.textfield {
	outline: 0;
	height: 30px;
	width: 100%;
	padding-left: 10px;
	border: none;
	font-size: 0.875em;
	display: inline-block;
	background: white;
	@include radius(8px);
}
.search-textfield {
	position: absolute;
	width: 100%;
	max-width: 1280px;
	left: 0;
	right: 0;
	height: 0;
	font-size: 40px;
	display: inline-block;
	font-family: "Ubuntu";
	font-weight: 300;
	border: none;
	outline: none;
	box-shadow: none;
	color: $black;
	padding: 0;
	width: 40px;
	margin: 10px auto 0 auto;
	opacity: 0.3;
	@include transition(all .3s ease-in-out);
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
	&:focus {
		border: none;
		box-shadow: none;
		background: none;
		border-bottom: 1px solid $black;
		@include transition(all .4s ease-in-out);
	}
}
.search-open {
	height: 60px;
	width: 100%;
	z-index: 1;
	cursor: text;
	background: none;
	opacity: 1;
	border-bottom: 1px solid $black;
	// @include transition(all .4s ease-in-out);
}

.disabled {
	background: #f1f1f1;
}
.search-mobile {
	width: 100%;
	max-width: 1280px;
	font-size: 16px;
	display: block;
	font-family: "Ubuntu";
	font-weight: 300;
	border: 1px solid $borderGray;
	outline: none;
	box-shadow: none;
	color: $black;
	padding: 10px 20px 10px 35px;
	margin: 10px auto 0 auto;
	@include transition(all .3s ease-in-out);
	cursor: pointer;
	background: url(../img/search-icon3.svg) 10px center no-repeat;
	background-size: 15px 15px;
	&:focus {
		box-shadow: none;
		border-bottom: 1px solid $black;
		@include transition(all .4s ease-in-out);
	}
}

